<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="footer" th:fragment="footer">
    <p> All rights reserved
       <!-- <span sec:authorize="isAuthenticated()" style="display: inline-block;">

                </span>-->
    </p>
</div>
</body>
</html>